:root {
    --font-sm: 14px;
    --font-mid: 16px;
    --font-mid-big: 18px;
    --font-big: 21px;
    --font-large: 48px;

    --accent-color: #F13C6E;
    --main-color: #FFFFFF;
    --main-font-color: #000000;
    --bg--color: #EFEFEF;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg--color);
}
a {
    color: var(--main-font-color);
    text-decoration: none;
    transition: 0.3s;
    border-bottom: transparent solid 2px;
}

a:hover {
    color: var(--accent-color);
    border-bottom: solid var(--accent-color) 2px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    display: flex;
    gap: 80px;
    flex-direction: column;
    margin-bottom: 80px;
}



/* HEADER START */

header {
    background-color: var(--main-color);
}

.header-nav {
    padding: 15px;
    gap: 30px;
}

.header-nav, .header-main {
    display: flex;
    justify-content: center;
}

.header-main {
    border-bottom:  var(--bg--color) solid 1px;
}

.header-main .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    flex: 1;
    padding: 20px 0;
}

.header-main__mid {
    display: flex;
    justify-content: right;
    flex: 2;
    margin-right: 40px;
}

.btn__button-main {
    border: var(--accent-color) 2px solid;
    border-radius: 40px;
    min-width: 170px;
    min-height: 40px;
    padding: 12px 30px;
    background-color: transparent;
    transition: 0.3s;
}
.btn__button-main:hover {
    border: var(--accent-color) 2px solid;
    border-radius: 40px;
    background-color: var(--accent-color);
    color: var(--main-color);
}

.header-top {
    background-color: var(--bg--color);
;
}

.header__logo {
    display: flex;
    justify-content: left;
}


/* HEADER END */


/* BANNER START */

.banner {
    background-image: url("https://s3-alpha-sig.figma.com/img/22da/3954/199e261cd712998df1c67fdcb4550b85?Expires=1719187200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZngLFubTdhOAen43j1Fxy~BY2mkcr76YmEJossMRueCnwEpnab2VWJQbVyFUV20NS2KxNFp8rMUoBC28duwdYHOqE~T6K3j8BAbE~27~e~eePWUZMyL8sxY1dahQSjPvZCVUFlNXfiC9hk2~jiGxbxUqBVJ4otHTy8lng0asTGbPF3tpCVLmu-o1GyO6WTpFvZ59uTEFrKZvXIOP6mEDgkjKZjuoSk-CjA1tY7TMvoOx6wRPzx652RS4NFloQOQf1NKOyMCQKIpj7t~plxx6iC6HZBnvUjmMV0qaZmhR1SKTOzQPpCVcYOKrMtX1Uxfhi7tPSd~U0ZeeF~Fzp94sig__");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: block;
    padding: 200px;
}

.banner__content {
    width: 1200px;
    margin: 0 auto;
    color: var(--main-color);
}

.banner__description {
    max-width: 310px;
    max-height: 220px;
    margin-right: 300px;
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner__description h2 {
    font-size: 48px;
    font-weight: 700;
}


.btn__button-2 {
    border: var(--main-color) 2px solid;
    border-radius: 40px;
    min-width: 170px;
    min-height: 40px;
    padding: 12px 30px;
    background: transparent;
    color: var(--main-color);
    transition: 0.3s;
    text-align: center;
}

.btn__button-2:hover {
    background: var(--main-color);
    color: var(--accent-color);
    border-bottom: var(--main-color) 2px solid;;
}

/* BANNER END */

/* ITEM LIST START */

.special-offer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.special-offer h3 {
    font-size: var(--font-big);
    font-weight: 700;
    padding: 0 0 35px 0;
}

.special-offer__item-list {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    min-height: max-content;
    gap: 30px;
    width: 100%;
}

.item-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-color);
    gap: 20px;
    padding: 30px;
}

.item-list__item img {
    width: 60%
}

.item__item-name {
    font-size: var(--font-mid);
    text-align: center;
}

.item__item-price {
    font-size: var(--font-big) ;
}


.btn__button-1 {
background-color: var(--accent-color);
color: var(--main-color);
border: solid var(--accent-color) 2px;
padding: 10px 20px;
border-radius: 30px;
    width: 130px;
    transition: 0.3s;
    text-align: center;
}

.btn__button-1:hover {
    background-color: var(--main-color);
    color: var(--accent-color);
}

/* ITEM LIST START */

/* OTHER START */

.other-offers {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.other-offers__wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--accent-color);
    color: var(--main-color);
    padding: 15px 40px;
    width: 585px;
}

.wrapper__content {
    display: flex;
    flex-direction: column;
}

.wrapper__content h3 {
    padding: 25px 0;
    font-size: var(--font-mid-big);
    font-weight: 700;
}

.wrapper__content p {
    font-size: var(--font-sm);
    max-width: 130px;
}

.wrapper__content input {
    display: flex;
    border-radius: 30px;
    background-color: var(--main-color);
    max-width: 200px;
    height: 35px;
    margin: 25px 0;
    color: var(--main-font-color);
    text-align: center;
}

.wrapper__content a {
    margin: 25px 0;
    max-width: 170px
}

.other-offers__wrapper i{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 9rem;
    opacity: 0.5;
    margin: 0 10px;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--main-color);
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.brands__brand-logo {
    padding: 35px 60px;
}






footer {
    background-color: var(--main-color);
}

.footer__categories {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom:  var(--bg--color) 1px solid;
}

.categories__links {
    margin: 30px 10px 0 10px;
    width: calc(25% - 20px);
}

.footer__categories h3 {
    font-size: var(--font-mid);
    font-weight: bold;
    border-bottom:  var(--bg--color) solid 1px;
    padding: 30px 0;
}

.footer__categories ul {
    margin: 25px 0;
}

.footer__categories a {
    color: #828282;
    transition: 0.3s;
}

.footer__categories a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}


.footer__categories li {
    font-size: var(--font-sm);
    padding: 7px;
}

.footer__middle {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: var(--bg--color) solid 1px;
    margin: 0 auto;
}

.footer__links {
    min-width: fit-content;
    display: flex;
    gap: 20px;
}

.footer__links a {
    color: var(--accent-color);
    padding: 7px;
    text-align: center;
    font-size: 1.5rem;
    transition: 0.3s;
    min-width: fit-content;
}

.footer__links a:hover {
    color: var(--main-color);
}

.footer__end {
    background-color: var(--bg--color);
}

.footer__copyright{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    font-size: var(--font-sm);
    color: #828282
}
